Manifest*.toml
docs/build
examples/*.out
examples/ElemCo.jl-devel
docs/equations/*.bbl
docs/equations/*.blg
docs/equations/*.log
docs/equations/*.out
docs/equations/*.toc
docs/src/release-notes.md
LocalPreferences.toml
.vscode
